label {
    color: #004563;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

.app-title {
    font-size: 30px;
    font-weight: bold;
    color: #009BDE;
}

.bg-primary {
    background: #009BDE !important;
}

.text-primary {
    color: #0379AB !important;
}

.text-primary-dark {
    color: #004563 !important;
}

.bg-primary-dark {
    background: #0379AB !important;
}

.form-select {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #009BDE;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.form-control {
    background-color: #DFDFDF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-size: 25px;
}

.form-control:focus {
    background-color: #DFDFDF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-size: 25px;
    border: none;
}

.card-post {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #78D7FF;
    padding: 5px 15px;
    font-size: 25px;
    border-radius: 12px;
}

.card-post svg {
    cursor: pointer;
}

.btn-dark {
    padding: 10px 20px;
    background-color: #DFDFDF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: #434141;
    font-size: 25px;
    border-radius: 12px;
}

.btn-dark:hover {
    background-color: #7d7c7c;
}

.loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.8;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

.loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 100;
}